@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Key Managers</h1>
    <img src="~/Images/PersonholdingKeys.jpg" alt="Logo is not loading sorry" style="width:420px;height:300px;"><br>
    <a asp-page="/Marketplace">⋆Buy Your New Keys Here!!⋆</a> <br>
    <div class="InfoBox">
        Everyone needs keys in there daily lives. <br>
        Choose from our unique selection of keys to express your personality.
    </div>
</div>
