@page
@model MarketModel
@{
    ViewData["Title"] = "Market Place";
}
<h1>
    @ViewData["Title"]
    <img src="~/Images/logo.jpg" alt="Logo is not loading sorry" style="width:50px;height:50px;">
</h1>
<marquee>Welcome to the Market Place. This is were you can buy things</marquee>
<div class="boxed">
    Skull Keys
    $5.00
    <img src="~/Images/skullkey.PNG" alt="Logo is not loading sorry" style="width:120px;height:120px;">
    <a  asp-page="/BuyingKey1">Purchase</a>
</div>
<div class="boxed">
    Crown Key
    $9.99
    <img src="~/Images/Crown.png" alt="Logo is not loading sorry" style="width:120px;height:120px;" align="Left">
    <a  asp-page="/BuyingKey2">Purchase</a>
</div>
<div class="boxed">
    Goob Vibes
    $2.50
    <img src="~/Images/GoodVibes.png" alt="Logo is not loading sorry" style="width:120px;height:120px;">
    <a  asp-page="/BuyingKey3" >Purchase</a>
</div>
<div class="boxed">
    Zebra Key
    $2.99
    <img src="~/Images/Zebra.png" alt="Logo is not loading sorry" style="width:120px;height:120px;">
    <a  asp-page="/BuyingKey4">Purchase</a>
</div>